[2015-11-30 04:44] trungtle opened #1 "Roadmap"
# OpenGL ES 3 Feature Lists
### Texturing
- [x] sRGB textures and framebuffers: gamma-correction
- [x] 2D texture arrays: texture animation
- [x] 3D textures: 3D voxel data, medical imaging
- [x] Depth textures and shadow comparison: Shrek :x: supported in webgl1
- [x] Seamless cubemaps: :x: no need for a sample
- [x] Floating-point textures
- [x] ETC2/EAC texture compression : Shrek
- [x] Integer

[2015-12-05 17:38] pjcozzi commented on #1
Great job with this and the spreadsheet!

Make sure to check Section 5 (Differences Between WebGL and OpenGL ES 3.0) of the WebGL 2 spec to help understand what OpenGL samples will require more work to port (or should not be ported).

Keep, the framework as simple and lightweight as possible.  Helper functions for compiling/linking shaders, for example, are great, but do not abstract WebGL much si

[2015-12-13 19:11] shrekshao opened #2 "WebGL2 Browser experiment setup"
The webgl-2 experiment setup goes like this ~~(I've tested on Windows only)~~ (tested on Windows and OSX 10.10.5).
The [Mozilla Wiki WebGL2 Link](https://wiki.mozilla.org/Platform/GFX/WebGL2) seems to miss one config flag in my case. So I post my methods here FYI.
- FireFox:
  set the following config flags value to _true_ in `about:config`
  `webgl.disable-angle`
  `webgl.enable-prototype-webgl2`

[2015-12-14 15:48] pjcozzi commented on #1
If you need a simple UI for any demos, see https://code.google.com/p/dat-gui/

[2015-12-14 23:17] pjcozzi commented on #1
Also, this is a great reference on OpenGL ES 3: https://www.khronos.org/opengles/sdk/docs/man3/

[2015-12-24 15:33] pjcozzi opened #5 "Set up JSHint to run on all examples"
http://jshint.com/

We need to look into it, but this may require separating the JavaScript into .js files (or doing that on-the-fly for JSHint).

[2015-12-24 16:08] mramato commented on #5
JSHint automatically extracts JavaScript from HTML files, there's nothing special you have to do on your end. I would recommend using Node and Gulp like we do in Cesium and it should only be about 10 lines of JavaScript for the whole thing, you can even copy/paste the Cesium code: https://github.com/AnalyticalGraphicsInc/cesium/blob/master/gulpfile.js#L201

[2015-12-27 16:05] shrekshao opened #11 "Replace the getAttribLocation calls with layout qualifier locations"

[2015-12-28 04:20] shrekshao commented on #11
Done

[2015-12-28 04:20] #11 closed, assigned to nobody

[2015-12-29 21:53] shrekshao opened #14 "UBO issue"
When I trying to implement UBO, things don't turn out quite as expected.
- I think the browser support is no problem, since I got ubo working correctly in [draw_instance_ubo](https://github.com/WebGLSamples/WebGL2Samples/blob/dev-instance-ubo/samples/draw_instanced.html)
- Yet with almost the same code (simply copying and delete one of the two ubo), in [draw_range_arrays](https://github.com/WebGLS

[2015-12-30 16:06] pjcozzi opened #16 "Use explicit VAO in all examples"
WebGL 2 has a default Vertex Array Object that we are implicitly using in some of the examples.

I think it would be a better practice if we use an explicit VAO like the `sampler_wrap` example:

[code]

Then when rendering:

[code]

[2015-12-30 18:56] shrekshao commented on #14
[draw_instance_ubo](https://github.com/WebGLSamples/WebGL2Samples/blob/dev-instance-ubo/samples/draw_instanced_ubo.html)

This sample works fine in Chrome 47, but reported errors in Chrome Canary 49

[code]

[2015-12-30 19:07] shrekshao commented on #16
Done for samples on master

[2015-12-30 19:22] shrekshao opened #18 "Layout qualifier location standard"
From Christ ogl sample:
Might follow this later

[code]

[2015-12-30 19:49] #5 closed, assigned to nobody

[2015-12-30 19:53] pjcozzi commented on #16
Fixed in 92bc36d43822280d4f7f166e0a1fef2b5f9be347.

Thanks @shrekshao.  In the future, instead of committing to master, make changes on a new branch, and open a pull request.

[2015-12-30 19:53] #16 closed, assigned to nobody

[2015-12-30 20:12] kenrussell commented on #14
I'll look into this failure.

[2015-12-30 20:20] trungtle commented on #2
@shrekshao tested on Chrome. Same settings.

[2015-12-30 20:52] trungtle opened #24 "Uses low res texture in samplers to show different sampling effect"

[2015-12-30 20:59] pjcozzi commented on #2
For reference, on Windows 10, the full command for running Canary with WebGL 2 is:

[code]

[2015-12-30 21:54] pjcozzi opened #27 "Add sampler_wrap to the table in README.md"
It works on Chrome 49 Windows.

Also, replace the not tested icon with something that isn't the same as the failure icon, perhaps a question mark.  Check out http://www.emoji-cheat-sheet.com/

[2015-12-30 23:41] trungtle opened #28 "[samplers] check if TOP_LEFT, TOP_RIGHT, BOTTOM_LEFT, BOTTOM_RIGHT of viewport are correct"

[2015-12-31 01:15] shrekshao opened #30 "Bring in Mouse Input and Render Loop"
- Mouse Interaction with View matrix
- Setup multi frame render pipeline

[2015-12-31 01:25] pjcozzi commented on #30
Please provide more details.

[2016-01-04 00:37] trungtle opened #37 "Remove 'experimental-webgl2' context type in all samples"
Only expose 'webgl2' flag instead of 'experimental-webgl2' (we shouldn't encourage web developers to follow this pattern).

[2016-01-04 18:13] #37 closed, assigned to trungtle

[2016-01-04 20:23] shrekshao opened #39 "ERROR: 0:7: 'gl_VertexID' : undeclared identifier"
gl_VertexID should be a builtin input for the vertex shader as long as calling a draw call without using GL_ELEMENT_ARRAY_BUFFER, https://www.khronos.org/opengles/sdk/docs/man3/html/gl_VertexID.xhtml

But I get `ERROR: 0:7: 'gl_VertexID' : undeclared identifier` when using `gl_VertexID` in 27e326c26e696fb48b9287d274c39593c58f49f0

Same error when using Firefox, so I think it might be something wro

[2016-01-04 20:31] #27 closed, assigned to nobody

[2016-01-04 21:28] pjcozzi commented on #39
It looks OK at a glance.  Did you review the conformance test?

https://github.com/KhronosGroup/WebGL/blob/fadaa8364df1ca1db8bc5c1376c030fd9a9d211e/sdk/tests/deqp/functional/gles3/es3fShaderBuiltinVarTests.js#L732

Does this test pass for you?  In general, it is probably worth your while to step through a particular conformance test in the debugger if it works and your code does not.

[2016-01-04 21:54] shrekshao commented on #39
I run this test and get: `failed: builtin_variable.vertex_id: Compile failed`

So does this mean that currently implementation for `vertex_id` is still unavailable here?

Fortunately we can still use another version without `vertex_id` for this sample `draw_image_space`.

Thanks for this note. Next time I will run the conformance test first.

[2016-01-05 16:37] pjcozzi commented on #2
Here is the latest on WebGL 2 in Firefox Nightly: http://muizelaar.blogspot.com/2015/12/webgl2-enabled-in-firefox-nightly.html

[2016-01-05 21:11] pjcozzi commented on #39
Yes, sounds like this is a browser issue.

[2016-01-07 07:22] kenrussell commented on #39
Thanks for pointing this out and sorry for the trouble. Filed as http://crbug.com/575073 .

[2016-01-07 22:19] #28 closed, assigned to trungtle

[2016-01-07 22:20] pjcozzi commented on #39
Thanks for submitting the issue, @kenrussell!  We have plenty to work on in the meantime!

[2016-01-07 23:36] shrekshao opened #48 "TransformFeedback doesn't work for Google Chrome Canary anymore"
Might be trigged by an auto update. Still works for Firefox

[code]

[2016-01-08 00:20] pjcozzi commented on #48
Also, see if the related tests in the conformance suite fail in case we are doing something wrong in the sample.  The sample looks simple enough to me: https://github.com/WebGLSamples/WebGL2Samples/blob/af9ab5bdc2fa6836a9a095ddf6d525ebd9f43178/samples/transform_feedback_interleaved.html#L212-L214

[2016-01-08 02:25] kenrussell commented on #48
Was an error generated during beginTransformFeedback?

http://toji.github.io/webgl2-particles-2/ is working for me -- it uses transform feedback in a reasonably sophisticated way. @toji

[2016-01-08 02:26] kenrussell commented on #48
(Unfortunately, NVIDIA's driver fails some of the cases in sdk/tests/deqp/functional/gles3/transformfeedback.html , and I haven't implemented a skip list for the dEQP tests yet, so that test isn't turned on on our automated test bots.)

[2016-01-08 02:27] kenrussell commented on #48
BTW, that's on Mac OS X with Chrome Canary.

[2016-01-08 02:28] shrekshao commented on #48
The error is generated at `endTransformFeedback` saying `transform feedback is not active`. So yes, it may be because the failure of `beginTransformFeedback`

Good suggestion, I will look at toji's code for a more complete calling of transform feedback.

[2016-01-10 16:38] #48 closed, assigned to nobody

[2016-01-10 16:44] pjcozzi opened #51 "Code consistency improvements"
- [x] Use `v_` for GLSL varyings (some examples do, some don't)
- [x] Consistently always use a constant or a literal for layout locations, e.g., currently some examples use `layout(location = 0) in vec2 position;` and others us `layout(location = POSITION) in vec2 position;`.
- [x] Change

[code]

to

[code]

[2016-01-10 16:46] shrekshao commented on #51
Do you refer to the output of a vertex shader when saying 'varyings'?

[2016-01-10 16:47] pjcozzi opened #52 "Descriptions for each sample"
From the name alone, it's not always clear what the output for a sample is supposed to be or even exactly what WebGL 2 feature the sample is demonstrating.  Let's provide a short description (screenshot, tooltip, etc.) for each.  We'll have to figure out the form factor.

[2016-01-10 16:48] pjcozzi commented on #51
Yes, varyings are `out` in the vertex shader and `in` in the fragment shader.

[2016-01-10 17:49] shrekshao opened #53 "TransformFeedback still has problems"
In chrome canary, sometimes it fails to draw the rect out. No error message is produced. I am now trying to find out the problems by reading OpenGL ES 3.0

[2016-01-10 18:31] shrekshao commented on #53
Running WebGL 2 conformance test on canary can generate quite a lot failures related to transformfeedback. I decide to put off this fix....

[code]

[2016-01-11 09:12] kenrussell commented on #53
Thanks for pointing out these failures. I'm embarrassed that I didn't notice them myself. They were due to bugs in the test and have been fixed in https://github.com/KhronosGroup/WebGL/pull/1422 . Some of the tests still fail; at least some, if not all, of these failures are due to bugs in the underlying graphics drivers. I'll analyze them. If you have questions about specific failing tests please

[2016-01-13 17:24] shrekshao commented on #30
Fix

[2016-01-13 17:24] #30 closed, assigned to nobody

[2016-01-19 01:31] shrekshao opened #60 "Notes for ETC2/EAC sample"
- etc2/eac compressed image can be in different file extension (ktx, pkm), each has a different "header data". For example, ktx file format has a header data of 68 bytes [details](https://www.khronos.org/opengles/sdk/tools/KTX/file_format_spec/#4).
- To properly handle this, we may need a so-called "texture utils". Extract the data correctly from images in different format, which can be another pr

[2016-01-21 00:19] shrekshao opened #64 "Use glTF loader instead of obj loader later"

[2016-01-21 00:47] shrekshao opened #65 "Use gl-matrix-min.js of version 2"
Use gl-matrix-min.js 2.0. The gl-matrix.js in repo at present is version 1.x. Since there's a issue with the texture-3d sample using the new 2.0 gl-matrix, I will remain the old version gl-matrix there and come back later to fix that.

[2016-01-21 23:45] pjcozzi commented on #1
@shrekshao @trungtle let me know when this is updated with the schedule leading up to GDC as we discussed offline.

[2016-01-21 23:58] pjcozzi opened #66 "Update table from Chrome 49 to 50."
And, of course, retest each sample.

[2016-01-22 19:02] shrekshao commented on #1
plan is updated

[2016-01-22 22:12] pjcozzi commented on #1
Looks good, thanks!

[2016-01-23 15:57] pjcozzi commented on #66
Reopening this to test Chrome 50 on Mac.

[2016-01-26 20:40] trungtle commented on #66
Retested with Chrome 50 on OSX, 3 samples not working: draw_image_space (gl_vertexID not supported), texture_etc2_eac (I'm not sure why yet), fbo_multisample (webGL2 context lost)

[2016-01-26 22:59] kenrussell commented on #66
I've made a note of these failures on http://crbug.com/575073 . We'll investigate soon.

[2016-01-27 00:41] pjcozzi commented on #66
Thanks @kenrussell.

@trungtle in the meantime, can you open a PR to update our README.md?

[2016-01-27 03:02] trungtle commented on #66
@pjcozzi I updated the READ.md file for the Chrome on OSX issues I mentioned above. If we need to include more details I can open a new PR for it.

[2016-01-27 23:06] pjcozzi commented on #66
Thanks!

[2016-01-27 23:06] #66 closed, assigned to nobody

[2016-01-28 20:46] trungtle opened #71 "gl.POINTS not rendered on OSX 10.10.5 with Chrome Canary 50 nor Firefox 45"
Checkout `tle/test_glpoint`. The sample name is test_sample_glpoint. There is a commented out draw call for gl.TRIANGLES for comparison. Could be related to [this](https://code.google.com/p/chromium/issues/detail?id=558738)?

[2016-01-28 21:07] shrekshao opened #72 "Update Test result for new version browsers"
- [x] Chrome Canary 51 Win 10
- [x] Chrome Canary 51 Mac
- [x] Firefox Developer Edition 47 Win 10
- [x] Firefox Developer Edition 47 Mac

[2016-01-28 22:38] pjcozzi commented on #71
I can confirm this works on Windows so it is likely Mac specific.  Try `drawArrays` without an index buffer since using point primitives with indices is not a popular use case; it could be buggy.

[2016-01-29 08:34] kenrussell commented on #71
Could this possibly be http://crbug.com/558738 ?

[2016-01-29 15:47] trungtle commented on #71
Yes, I think it's a similar issue. I have linked the same ticket with the first comment

[2016-01-31 18:10] trungtle opened #74 "Update all camera near field from 0.1 to 1.0 to prevent possible z-fighting."

[2016-01-31 18:15] trungtle commented on #74
Doesn't look like we have any other sample with this issue.

[2016-01-31 18:15] #74 closed, assigned to nobody

[2016-01-31 22:30] shrekshao opened #77 "sample: primitive-restart problem"
- primitive restart fails the conformance test
- seems that it is the problem of TRIANGLES_STRIP. Even without the degenerate-triangle, the TRIANGLE_STRIP doesn't work
- try to test TRIANGLES_STRIP in webgl 1 context

[2016-02-09 00:23] trungtle commented on #71
close this, looks like it's working now.

[2016-02-09 00:23] #71 closed, assigned to nobody

[2016-02-10 18:54] shrekshao opened #83 "OpenGL ES 3 Shading Language new built in function comparing to ES 2"
- Angle & Trigonometry Functions
  T sinh (T x); hyperbolic sine
  T cosh (T x); hyperbolic cosine
  T tanh (T x); hyperbolic tangent
  T asinh (T x); arc hyperbolic sine; inverse of sinh
  T acosh (T x); arc hyperbolic cosine; non-negative inverse of cosh
  T atanh (T x); arc hyperbolic tangent; inverse of tanh
- Common Functions
  full integer/uint and integer/uint vector support
  TB isnan(T x)

[2016-02-10 21:34] pjcozzi commented on #83
For the GLSL sample(s), I also want to include the new language features such as non-uniform matrices (which I suppose is implicit above).

[2016-02-10 21:45] shrekshao commented on #83
There are a lot of matrix functions related to non-square matrix. I think I just need to find a scenario to use these functions.

[2016-02-13 18:03] shrekshao opened #87 "discard deleteing WebGL context windows.onunload functions"
No necessary for doing this when windows is closed because browsers will take care of that. And explicit doing so will slow down the process. Thanks to Ken.

[2016-02-14 20:36] pjcozzi commented on #1
For glTF support before GDC:
- Reading and Tools
  - To test a glTF model, drag and drop it [here](http://cesiumjs.org/convertmodel.html)
  - For an overview of glTF, see [here](https://www.khronos.org/assets/uploads/developers/library/overview/glTF-1.0-Introduction-Oct15.pdf)
  - For the full details, the [spec](https://github.com/KhronosGroup/glTF/blob/master/specification/README.md) is a short

[2016-02-17 01:43] pjcozzi opened #91 "Ideas for future student projects"
Potential future student project.  Please add ideas.
- Libraries
  - Half-float, https://github.com/WebGLSamples/WebGL2Samples/pull/88#issuecomment-184569369
    - a js file wrap up starter code can be found in #96
  - Compressed format texture loader #60
- Samples for WebGL extensions

[2016-02-17 01:46] pjcozzi opened #92 "Replace "View source" link"
Instead of opening up the page's source, it could be more instructive to open a link to the page on GitHub, including the highlighted section of relevant code, e.g., https://github.com/WebGLSamples/WebGL2Samples/blob/master/samples/texture_2d_array.html#L143-L157

[2016-02-20 22:28] trungtle opened #94 "GLTF loader"
_Reposted @pjcozzi's comment to here_:

For glTF support before GDC:
### Reading and Tools
- To test a glTF model, drag and drop it [here](http://cesiumjs.org/convertmodel.html)
- For an overview of glTF, see [here](https://www.khronos.org/assets/uploads/developers/library/overview/glTF-1.0-Introduction-Oct15.pdf)
- For the full details, the [spec](https://github.com/KhronosGroup/glTF/blob/master/

[2016-02-28 20:58] shrekshao commented on #65
Since we are using gl-matrix 2 in gltf-loader, now we must change old version gl-matrix api uses to make the gltf loader work. I have fixed one in #84 which can be referenced. As far as I know there's a `texture_vertex` which at the same time uses gltf-loader, and `texture_3d`. @trungtle can you take care of these two when you get time?

[2016-02-28 23:06] trungtle commented on #65
Will do. Thanks for taking care of it.

-Tr

[2016-02-29 03:06] toji commented on #65
What's the issue with glMatrix in the texture-3d sample? I'm happy to fix anything that's blocking you.

[2016-02-29 03:10] shrekshao commented on #65
Oh hi Brandon, sorry about making things confused. It's not about the gl-matrix it self. It's just because we happened to use version 1.2.3 in some previous samples and some in version 2. We want to use version 2 in all samples to make it consistent.

[2016-02-29 17:54] trungtle opened #97 "texture 3d not working [Feb 29, 16]"
Revisited texture 3d sample again and it's currently not working on Chrome 51.0 and Firefox 46.0 with OSX 10.10. Reasons unclear.

[2016-02-29 21:35] kenrussell commented on #97
Do you have a smaller test case which demonstrates the problem?

[2016-02-29 21:48] trungtle commented on #97
Let me throw something together really quick

[2016-02-29 22:06] trungtle commented on #97
@kenrussell I have a simple sample in tle/test_texture3D (I believe this is the simplest setup for texture3D)

[2016-02-29 22:59] pjcozzi commented on #65
@shrekshao @trungtle is the plan to move to version 2 before or after GDC?

[2016-02-29 23:01] pjcozzi opened #100 "Add screenshot to README.md"
To supplement the "WebGL 2 Samples Pack" link at the top of the README.md, add a choice screenshot of the examples that also links to the live version.

Let's do this before GDC (I added a GDC label).

[2016-02-29 23:02] shrekshao commented on #65
Before. It won't take long.

[2016-02-29 23:03] pjcozzi commented on #87
Are there still samples to update here?

[2016-02-29 23:03] pjcozzi commented on #64
Work-in-progress in #95.

[2016-02-29 23:03] #64 closed, assigned to nobody

[2016-02-29 23:07] pjcozzi commented on #97
@trungtle did you update the able in README.md?

[2016-02-29 23:10] pjcozzi commented on #65
:+1:

[2016-02-29 23:22] #87 closed, assigned to nobody

[2016-02-29 23:45] #83 closed, assigned to nobody

[2016-02-29 23:56] shrekshao opened #102 "Revisit failed features"
- Uniform buffer objects #14
- gl_VertexID #39
- primitive-restart #77

[2016-03-01 00:01] pjcozzi commented on #102
Why not close this and just label each of those issues for GDC?

[2016-03-01 00:01] #65 closed, assigned to nobody

[2016-03-01 00:02] pjcozzi commented on #65
@shrekshao did you mean to close this?

[2016-03-01 00:03] #102 closed, assigned to nobody

[2016-03-01 00:19] shrekshao commented on #65
Trung has done it in #98

[2016-03-01 00:27] pjcozzi commented on #65
Ah, but why didn't we remove the old file: https://github.com/WebGLSamples/WebGL2Samples/blob/master/samples/third-party/gl-matrix.js

[2016-03-01 00:32] pjcozzi opened #104 "Add short resource deletion section to README.md"
As discussed here: https://github.com/WebGLSamples/WebGL2Samples/pull/101#issuecomment-190449881

[2016-03-01 00:46] shrekshao commented on #14
Revisit:
* Our samples seem to get rid of the "draw half of the rect sometimes" bug
*  the conformance test still failed on several tests ( but much fewer, focus on lowp and mediump now)

[2016-03-01 00:54] pjcozzi commented on #14
Does README.md need to be updated?

[2016-03-01 01:03] shrekshao commented on #14
Oh sorry, this is a mistake. I should reopen this one

[2016-03-01 01:05] shrekshao commented on #53
Revisit:
- Our samples seem to get rid of the "draw half of the rect sometimes" bug and works fine
-  the conformance test still failed on several tests ( but much fewer, focus on lowp and mediump now)

So i think it is okay to close this for now

[2016-03-01 01:05] #53 closed, assigned to nobody

[2016-03-01 01:31] kenrussell commented on #53
Thanks for verifying. I still have more work to do in http://crbug.com/526748 to skip tests that are hitting known driver bugs. Please star the issue to get updates. After they're done let's revisit this to see what else needs to be done, or suppressed.

[2016-03-01 23:04] pjcozzi commented on #53
@kenrussell you want to re-open this, right?

[2016-03-01 23:10] kenrussell commented on #53
@pjcozzi I don't think it's necessary to reopen this unless your transform feedback sample is running into problems.

[2016-03-06 05:01] shrekshao commented on #92
@trungtle Add highlightedLines lines tag at the end of each sample html as it is done here:
https://github.com/WebGLSamples/WebGL2Samples/blob/master-view-source-link-change/samples/texture_2d_array.html#L198

#106

[2016-03-07 16:32] shrekshao commented on #14
- Canary on windows still fails most of the uniformbuffers test: https://www.khronos.org/registry/webgl/sdk/tests/deqp/functional/gles3/uniformbuffers.html?webglVersion=2&quiet=0
- But one of our simple sample using UBO can now successfully run: [draw_instance_ubo](https://github.com/WebGLSamples/WebGL2Samples/blob/dev-instance-ubo/samples/draw_instanced_ubo.html)

@pjcozzi So are we going to brin

[2016-03-07 18:33] shrekshao commented on #14
@trungtle Can you help take a look at these two samples when you are free:
- https://github.com/WebGLSamples/WebGL2Samples/blob/dev-shrek-buffer-uniform/samples/buffer_uniform.html
- https://github.com/WebGLSamples/WebGL2Samples/blob/dev-shrek-buffer-uniform/samples/draw_instanced_ubo.html

The second is now working, the first uses almost the same uniform buffer but when multiplying the matrix fro

[2016-03-07 18:42] trungtle commented on #14
I tested both on my machine, looks good to me actually. What did you mean by the data hasn't loaded correctly?

<img width="624" alt="screen shot 2016-03-07 at 10 41 49 am" src="https://cloud.githubusercontent.com/assets/486501/13579249/42f7f0da-e451-11e5-82d7-b45c1fa7bcdc.png">
<img width="1048" alt="screen shot 2016-03-07 at 10 41 54 am" src="https://cloud.githubusercontent.com/assets/486501/135

[2016-03-07 18:49] shrekshao commented on #14
So it works correctly on Mac.
For the first one, the canvas is blank on Windows chrome canary 51. I think the problem might be the uniform buffer object transferring.
It's weird that the second one works well on Windows.
Trung and I will clean the code and @kenrussell you might take a look at this [sample](https://github.com/WebGLSamples/WebGL2Samples/blob/dev-shrek-buffer-uniform/samples/buffer_u

[2016-03-07 18:55] shrekshao commented on #39
`gl_VertexID` still fails the conformance test.

[2016-03-07 19:08] shrekshao commented on #77
PASS getError was expected value: INVALID_OPERATION : after evaluating: context.drawElements(context.TRIANGLE_STRIP, 4, context.UNSIGNED_SHORT, 0)

It is expected not to work in webgl2?

[2016-03-08 05:17] kenrussell commented on #14
@shrekshao Please file a bug on crbug.com/ with clear reproduction steps and email me the bug ID. Thanks.

[2016-03-08 05:18] kenrussell commented on #39
@shrekshao gl_VertexID is still being implemented in ANGLE and Chrome.

[2016-03-08 05:19] kenrussell commented on #77
@shrekshao It sounds like a bug but please provide a small and self-contained test case. It would be ideal if you would file a bug on crbug.com/ and email me the bug ID.

[2016-03-08 15:06] shrekshao commented on #14
@kenrussell
Issue 593024: https://bugs.chromium.org/p/chromium/issues/detail?id=593024

[2016-03-08 16:08] shrekshao commented on #77
@trungtle Could you help test this on Mac to see if it works? Simply copy and paste the content to a single html file and open it in canary will work. It is expected to draw a triangle.
https://github.com/WebGLSamples/WebGL2Samples/blob/dev-shrek-primitive-restart/samples/draw_primitive_restart_triangle_strip_self_test.html

[2016-03-09 00:43] #100 closed, assigned to nobody

[2016-03-10 23:09] kenrussell commented on #77
@shrekshao That sample produces a black canvas on both Mac OS and Windows for me. Retina MBP (NVIDIA), 51.0.2673.0 (Official Build) canary (64-bit); Windows 8.1 with AMD GPU, 51.0.2672.0 (Official Build) canary (64-bit).

[2016-03-10 23:11] shrekshao commented on #77
@kenrussell Thanks. This is helpful.

[2016-03-10 23:14] kenrussell commented on #77
@shrekshao You're welcome. Note that there may well still be bugs in all or most WebGL implementations around primitive restart. I'm not sure we've studied those conformance tests in Chrome yet.

[2016-03-10 23:43] shrekshao commented on #14
So according to: [Issue 593024](https://bugs.chromium.org/p/chromium/issues/detail?id=593024&can=2&start=0&num=100&q=&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified&groupby=&sort=)
It seems like something specific with my laptop.
@trungtle Can you take over this sample? The full version cleaned code is [here](https://github.com/WebGLSamples/WebGL

[2016-03-11 02:45] kenrussell commented on #77
There's a typo in the sample -- TRIANGLES_STRIP instead of TRIANGLE_STRIP.

[2016-03-11 02:55] shrekshao commented on #77
-_-!!  This is stupid.... Fixed, thanks a lot ken!
So the TRIANGLE_STRIP itself is nothing wrong.

The primitive restart feature is still not working. As it fails in the conformance test. Ken also points it out.  This sample will be pending.

[2016-03-11 03:13] kenrussell commented on #77
Right. Primitive restart isn't supported correctly in Chromium's WebGL 2.0 implementation yet though. I found a few issues trying to get your sample to work and filed http://crbug.com/594021 about them. Thanks for helping uncover these problems.

[2016-03-14 22:24] shrekshao commented on #72
@trungtle we need to finish the test table before GDC

[2016-03-15 13:13] #92 closed, assigned to nobody

[2016-03-15 13:14] pjcozzi commented on #14
@trungtle any update here?  It would be nice to merge the UBO sample today if we are sure this is just an issue with @shrekshao's machine.

[2016-03-15 13:16] pjcozzi commented on #72
@trungtle @shrekshao any update here?  Can we finish this today?

[2016-03-15 13:18] shrekshao commented on #72
I don't have a mac. Patrick you may get it done with Trung

[2016-03-15 13:26] #51 closed, assigned to nobody

[2016-03-15 13:35] #104 closed, assigned to nobody

[2016-03-15 13:37] pjcozzi commented on #52
@shrekshao what is the latest here?  Do all samples have a description now when they are loaded?

I'm not sure how hard it would be, but it would be really useful to show the same string as a mouse-over tooltip for each sample in the list of samples.

[2016-03-15 16:20] trungtle commented on #14
There is still an issue with one of the two samples. I think we could merge the working UBO sample first.

[2016-03-15 16:44] trungtle commented on #52
We're only missing draw_range_array and draw_image_space descriptions.

[2016-03-15 16:46] trungtle commented on #72
I can get this done today. Sorry about this.

[2016-03-15 17:15] trungtle commented on #72
Done tested on Mac

[2016-03-15 17:28] #72 closed, assigned to nobody

[2016-03-15 17:31] pjcozzi commented on #52
Perhaps we update them before GDC and then wait on the tooltips until after?

[2016-03-16 04:57] trungtle opened #112 "glTF Geometry Loader: Fix comments in PR #95"
#95

[2016-03-19 20:56] pjcozzi opened #115 "Outreach Plan"
Time most of this with the release of WebGL 2 or when it is easier to enable in browsers...
- [ ] Twitter
- [ ] Email to webgl-dev-list@googlegroups.com
- [ ] WebGL LinkedIn group
- [ ] Khronos news
- [ ] Include on WebGL wiki - https://www.khronos.org/webgl/wiki/Main_Page
- [ ] WebGL subreddit - https://www.reddit.com/r/webgl/
- [x] NYC WebGL meetup - https://twitter.com/thsherif/status/710785800

[2016-03-26 20:38] ghost commented on #2
WebGL2 in Chrome Canary (Windows) no longer works for me. Anyone else experiences this issue?

[2016-03-26 20:52] ghost commented on #97
In texture3d.html set mipmap filters to:

[code]

Update: you also need to comment out the generateMipmap() call

[2016-03-26 22:03] trungtle commented on #97
@lambdor Thanks for the suggestion. Does this display 3D texture for you? This does work on Windows with Canary, but not consistently. I still get "Can not generate mips" error. Also doesn't work on OSX nor Firefox so far neither.

[2016-03-27 23:05] trungtle commented on #2
@lambdor still works for me. Did you launch with " ./chrome.exe --enable-unsafe-es3-apis" ?

[2016-03-28 08:47] ghost commented on #2
Yes. It actually worked two weeks ago and suddenly stopped with an auto update. Using Windows x64 + Chrome 51.0.2692.0 canary (64-bit), started with `--enable-unsafe-es3-apis` and enabled "WebGL 2.0 Prototype" and "WebGL Draft Extensions" in `about:flags`. Anyway, I just wanted to drop this in case someone else experiences this issue. WebGL2 still works for me in Firefox.

[2016-03-28 09:00] ghost commented on #97
Yes, works for me on Windows x64 + Firefox. I see 4 viewports with a rotating red blocky texture. Firefox complains about "Texture at base level is not unsized internal format or is not color-renderable or texture-filterable.". Maybe it's due to the float format. You could use RGB textures instead:

[code]

Updated: use RGB8 as internalformat instead of just RGB

[2016-03-28 09:14] ghost commented on #39
[http://stackoverflow.com/a/11659693/392549](SO - in int gl_VertexID causing error with three.js)

[2016-03-28 14:36] shrekshao commented on #39
@lambdor I think the point is gl_VertexID is not in WebGL 1. But there will be support in WebGL 2

[2016-03-28 17:09] kenrussell commented on #39
Correct @shrekshao . gl_VertexID will be implemented in http://crbug.com/587781 .

[2016-03-28 17:29] shrekshao commented on #112
### Obsolete:

[2016-03-28 18:04] ghost commented on #39
What is the point of the sample and does it have to rely on gl_VertexID?

[2016-03-28 18:12] shrekshao commented on #39
@lambdor Basically it's just showing how to use `gl_VertexID` in the shader.
It is correct as you've mentioned that providing an extra index attribute for each vertex can do the same thing. Unfortunately I'm not very familiar with `gl_VertexID` acutal usage in real application. It may give you some knowledge of vertex adjacency as stated here: http://gamedev.stackexchange.com/questions/74249/gl-ve

[2016-03-28 19:57] kenrussell commented on #97
Please change the internalformat parameter to gl.RGB8 from gl.RGB. For ES 3.0 and upward, the sized internalformats (shown in table 3.13 of the OpenGL ES 3.0.4 specification) should be used, as opposed to the legacy, unsized internal formats. Please tell me if that change improves the situation. (This should behave consistently across platforms and browsers regardless, but let's see what happens.)

[2016-03-28 20:46] kenrussell commented on #2
@lambdor 64-bit Chrome canary (actually, a continuous Chromium build from http://build.chromium.org -- see http://crbug.com/598407 ) is working OK on my Windows 8.1 workstation. Contents of about:gpu shown at http://pastebin.com/rT4RDkR0 . I do note that http://toji.github.io/webgl2-particles-2/ seems slow; will try to investigate why.

Can you try again with just the command line flag:
  --user-d

[2016-03-29 15:00] shrekshao commented on #97
Hmm... I can't make it work changing to RGB and UNSIGNED_BYTE for either Chrome Canary or Firefox developer edition on Windows 10. @kenrussell @lambdor will it be helpful that you provide your gpu info?

[2016-03-29 22:16] kenrussell commented on #97
@shrekshao this will be a useful exercise in debugging for you. Change the min and mag filters to NEAREST (so you don't have to worry about generating mipmaps for floating-point textures) and prove to yourself that the texture is actually being rendered (by setting its contents to some well-known value, like 1.0). Hint: there is a bug in the use of the glMatrix API.

[2016-03-30 03:50] shrekshao commented on #97
:cry: Thanks for your patience Ken. I should take a closer look at this sample before posting that comment. It's due to incorrect gl-Matrix API call in the noise3D.js

Now with internal format set to `RGB8` and format set to `RGB`, it works fine. But with internal format `R32F` and format `RED`, it cannot generate mipmap

[code]

Is it still in development or it is expected that Floating type text

[2016-03-30 07:23] kenrussell commented on #97
It's expected. In order to be able to generate mipmaps for floating-point textures it's necessary to enable the EXT_color_buffer_float extension: https://www.khronos.org/registry/gles/extensions/EXT/EXT_color_buffer_float.txt . To keep this sample simple, I recommend (as you've done in your follow-on pull request) changing to use an 8-bit unsigned byte texture.

[2016-03-30 13:13] pjcozzi commented on #112
@shrekshao thanks for organizing this roadmap.  Let's address these issue in this repo, then we'll do the full glTF reference loader in a new repo.

[2016-04-05 20:53] #97 closed, assigned to nobody

[2016-04-09 03:34] shrekshao commented on #112
@trungtle I fix buffer offset and delete the buffer type assumption. Still need to fix hierachy. You can fix buffer cache and other improvements based on [tle/gltf_loader](https://github.com/WebGLSamples/WebGL2Samples/tree/tle/gltf_loader), I brought back the `gltf_load.html` for testing

[2016-04-09 03:58] trungtle commented on #112
Thanks Shrek!

-Tr

[2016-04-20 00:47] trungtle opened #120 "Test 3D texture in OSX"

[2016-04-20 01:03] trungtle commented on #120
Tested + updated README.md to reflect working status

[2016-04-20 01:03] #120 closed, assigned to trungtle

[2016-06-15 03:18] shrekshao commented on #112
Fix geometry loader by refractoring the glTF loader, including multiple hierarchy. Update to samples later

Latest changes of glTF loader is now in this branch: [tle/gltf_loader](https://github.com/WebGLSamples/WebGL2Samples/tree/tle/gltf_loader)

[2016-06-15 03:18] #112 closed, assigned to nobody

[2016-06-16 00:33] shrekshao opened #125 "Sample `texture_vertex` depth "dissolving""
In sample `texture_vertex`, when enabling `DEPTH_TEST`, part of the geometry is "dissolving" to darkness. When disabling `DEPTH_TEST` the geometry is complete. So it might be the issue within this sample html. Yet I can't find it. Some fresh eyes might be helpful.

[2016-07-15 00:40] pjcozzi opened #128 "Retest in time for SIGGRAPH"
@trungtle @shrekshao would it be possible for you guys to retest all the examples on the latest developer browsers before SIGGRAPH and update the table in the README.md

[2016-07-15 00:40] pjcozzi commented on #128
Also, SIGGRAPH is the week after next.

[2016-07-15 00:41] shrekshao commented on #128
Sure. I'll take care of that

[2016-07-15 13:00] trungtle commented on #128
I'll do the same for OSX test! Also, we'll see you guys at SIGGRAPH.

On Thu, Jul 14, 2016 at 8:41 PM, Shuai Shao (Shrek) <
notifications@github.com> wrote:

[2016-07-15 14:42] pjcozzi commented on #128
Very nice, thanks @shrekshao @trungtle!

[2016-07-15 20:53] kenrussell commented on #128
Note:
http://webglsamples.org/WebGL2Samples/#draw_image_space seems to have a bug in the shader. Could you look into this at the same time? Thanks.

The samples are looking good! They all run well on Chrome Canary on my MacBook Pro Retina.

[2016-07-15 20:59] shrekshao commented on #128
No problem. We will take care of that!
Thanks.

On Fri, Jul 15, 2016 at 4:53 PM, Ken Russell notifications@github.com
wrote:

[2016-07-16 14:38] trungtle commented on #128
Retested all OSX samples.

I have updated compatibilities accordingly in the chart. On the Chrome
side, only etc compression sample doesn't seem to work, error with using
gl.compressedTexImage2D with invalid enum. I'll investigate further.

On Fri, Jul 15, 2016 at 4:59 PM, Shuai Shao (Shrek) <
notifications@github.com> wrote:

[2016-07-16 15:18] pjcozzi commented on #128
@trungtle thanks for testing promptly.

@kenrussell @toji @zhenyao really impressive work getting your WebGL 2.0 implementation into such good shape!

[2016-07-18 02:11] kenrussell commented on #128
@pjcozzi @trungtle @shrekshao thanks for your excellent work on this samples pack! It will be a valuable resource for developers.

Thanks for retesting. Could you please file a bug about the fbo_rtt_texture_array sample crashing on https://bugs.chromium.org/p/angleproject/issues/list ? Please send me the bug ID once done. Thanks.

The texture_etc2_eac failure on Mac OS X should be fixed soon; the

[2016-07-18 02:17] shrekshao commented on #128
Hi Ken

Sure. I think I can do that tomorrow evening.

Thanks for your help and suggestions through out the process. I do feel I
learn a lot from working with you. I will continue to keep an eye on this
repo for any updates and fixes. (At least I should be able to do a uniform
buffer sample making more sense since the driver issue of my machine should
be fixed)

Shrek

On Sun, Jul 17, 2016 at 10:1

[2016-07-19 22:08] shrekshao commented on #128
@kenrussell
Issue 1451
https://bugs.chromium.org/p/angleproject/issues/detail?id=1451

[2016-07-19 22:12] kenrussell commented on #128
Thanks. Commented on the bug and CC'd a couple of others.

[2016-08-06 17:37] #128 closed, assigned to nobody

[2016-08-06 17:37] #52 closed, assigned to nobody

[2016-08-06 17:37] #39 closed, assigned to nobody

[2016-08-06 17:38] #94 closed, assigned to nobody

[2016-08-06 22:52] shrekshao commented on #14
@kenrussell Hi Ken. How is Uniform buffer going for windows? I saw canary have 100% passed the webgl 2 conformance test. And I revisit the uniform buffer example (now merged to master) and find the data transferring is still not working as expected (on Windows). Since it might be the issue of my machine mind @trungtle mind giving a test on Mac when you got time?

[2016-08-08 08:11] kenrussell commented on #14
I'm pretty sure uniform buffers should be working well at this point -- I'd be surprised if they are not tested by the conformance suite. Have you double-checked your work? Have you tested on Firefox? CC'ing @null77 and @vonture who work on ANGLE.

[2016-08-08 13:07] null77 commented on #14
I believe UBOs have bugs on Intel drivers. Other than that, no known issues.

[2016-08-08 13:07] shrekshao commented on #14
i would use the mac at my work place to test again. Hope it is some minor
problem in my sample.

On Monday, August 8, 2016, Ken Russell notifications@github.com wrote:

[2016-08-08 22:14] shrekshao commented on #14
Seems like the issue of Intel driver (My PC has an integrated Intel graphics driver). I can get the uniform buffer data transferred correctly to the device on a Mac. I will finish this sample ASAP

[2016-12-30 19:19] shrekshao commented on #125
#137

[2016-12-30 19:19] #125 closed, assigned to nobody

[2016-12-30 19:20] shrekshao commented on #14
Fixed in commit f5028ed2410e2c52db370ffa6a4d7d5b9f48f2ec

[2016-12-30 19:20] #14 closed, assigned to nobody

[2016-12-30 19:21] shrekshao commented on #77
It is now supported

[2016-12-30 19:21] #77 closed, assigned to nobody

[2017-01-24 00:45] pjcozzi commented on #1
OK to close this?

[2017-01-24 00:46] pjcozzi commented on #60
There is now code in Cesium to parse KTXs: https://github.com/AnalyticalGraphicsInc/cesium/pull/4758

[2017-01-24 00:51] shrekshao commented on #1
Fine for me

On Mon, Jan 23, 2017 at 19:45 Patrick Cozzi <notifications@github.com>
wrote:

[2017-01-24 01:42] trungtle commented on #1
Yes

[2017-01-24 02:57] shrekshao commented on #60
Hmm, that is for ECT1. But I will certainly try to look into this one. It once worked on Chrome. Probably because it was some sketchy implementation at that time.

[2017-01-24 03:29] #1 closed, assigned to nobody

[2017-02-03 01:27] kainino0x commented on #60
ETC2/EAC were moved into an extension shortly before the release of WebGL 2, as it has terrible performance characteristics on platforms where it's not actually supported by the hardware.

KhronosGroup/WebGL#2030

[2017-02-03 01:31] shrekshao commented on #60
@kainino0x  Thanks Kai for the clarifications. I will remove this sample from the list and leave a link to https://www.khronos.org/registry/webgl/extensions/WEBGL_compressed_texture_etc/ in the future

[2017-02-03 01:52] #60 closed, assigned to nobody

[2017-02-03 02:37] kainino0x commented on #60
Sorry, that link is outdated because the extension got renamed. Here's the correct link:

https://www.khronos.org/registry/webgl/extensions/WEBGL_compressed_texture_etc/

[2017-02-03 02:41] shrekshao opened #140 "Samples for Extensions?"
#60

[2017-02-07 20:32] #2 closed, assigned to nobody

[2017-03-06 12:00] quantuminformation opened #141 "[qu] draw_instanced.html question"
Thanks, I'm trying to understand why do you need to call

        `gl.bindVertexArray(vertexArray);`

twice? I see that if you don't do the initial call you get a black screen.

[2017-03-06 17:01] shrekshao commented on #141
Hi Nikos,
Cuz we do a

    gl.bindVertexArray(null);

at https://github.com/WebGLSamples/WebGL2Samples/blob/master/samples/draw_instanced.html#L90, indicating we finish defining a vertex array.

You can comment this line and the second `gl.bindVertexArray(vertexArray);` together to get the sample still working

[2017-03-08 14:02] quantuminformation commented on #141
Thanks for this!

[2017-03-08 14:02] #141 closed, assigned to nobody

[2017-03-30 08:39] tsherif commented on #140
If you decide to do this, one I think would be useful is [EXT_color_buffer_float](https://www.khronos.org/registry/webgl/extensions/EXT_color_buffer_float/). I found it confusing at first how the renderability of float textures is handled differently from WebGL 1 (where float textures are [always renderable](https://www.khronos.org/registry/webgl/extensions/OES_texture_float/)).

[2017-04-01 12:43] tsherif opened #146 "GLSL discard sample unnecessary"
This sample seems unnecessary, since discard was available in WebGL 1.

[2017-04-02 02:41] shrekshao commented on #146
Thanks for pointing out. Removed in df6e5c886e7a2a43f710abfa84fb26b1357a9932

[2017-04-02 02:41] #146 closed, assigned to nobody

[2017-05-11 23:04] pjcozzi commented on #115
Great community response to this project, once again amazing job @trungtle and @shrekshao, and congrats on graduating this semester!

[2017-05-11 23:04] #115 closed, assigned to nobody

[2017-05-11 23:04] pjcozzi opened #150 "Update glTF loader to glTF 2.0"
Also mentioned at https://github.com/KhronosGroup/glTF/issues/867#issuecomment-300939909

[2017-05-15 13:08] tsherif opened #151 "Should samples favour using immutable textures?"
The spec suggests (section 3.7.6)  that they should be preferred over mutable textures. If it's considered best practice, perhaps the samples should use them exclusively?

[2017-05-15 23:10] kenrussell commented on #151
That'd be great. The memory savings on some platforms can be significant.

[2017-05-15 23:12] kenrussell commented on #115
+1, thank you @trungtle and @shrekshao for your great and timely work on this project, and congratulations on your graduations! Also thanks @pjcozzi for your leadership initiating this and all of your other student projects!

[2017-05-15 23:49] shrekshao commented on #115
@pjcozzi @kenrussell Thanks for providing this awesome opensource project opportunity. We are now members of the WebGL community.

[2017-05-16 06:33] trungtle commented on #115
@pjcozzi @kenrussell Thank you for your kind words. Very glad it has been helpful for the community.

[2017-05-17 09:48] tsherif commented on #151
Shannon Woods also mentioned that she saw reduced CPU overhead in ANGLE: https://twitter.com/ShannonIn3D/status/544915451940442112

Update should be straightforward, since I don't think any of the samples are resizing textures. It might be nice to have at least one example of generating mipmaps for an immutable texture, since it's a little more involved ([here's the code](https://github.com/tsheri

[2017-05-17 11:38] tsherif commented on #151
Just made an equivalent update to my WebGL 2 Examples: https://github.com/tsherif/webgl2examples/commit/667f69ed5b00e9f4f9f411c745a07e22334b43d9

[2017-05-27 15:15] Meai1 opened #152 "I dont know what any of these samples mean"
I'm just not proficient enough about OpenGL to know what all this stuff is helping me with.
Can you add more explanations of where I would want to use these techniques, and how this improves on the old way of doing things and what that old way was?

[2017-05-28 00:19] shrekshao commented on #152
Basically every sample in this repo demonstrates a new single feature in WebGL 2 (doesn't exist in WebGL 1 at all). If you would like to see what kind of higher level feature can be implemented with these newly introduced functionality, Tarek's [WebGL 2 Examples](https://github.com/tsherif/webgl2examples) can be a good resource where things like particles, screen space ambient occulsion, deferred

[2017-06-06 12:46] tsherif commented on #152
I'd probably start with [Gregg Tavares' WebGL 2 Fundamentals](https://webgl2fundamentals.org/) if you're not that comfortable with 3D yet. Most of the new WebGL 2 features target more advanced rendering techniques and optimizations that you won't get much out of until you've got a solid foundation in the basics.

[2017-06-09 01:40] shrekshao opened #154 "Question about reading pixel from fbo of texture 3d (or 2d array)"
@kenrussell There's a question from the community. Since he is working on a gpgpu project for js ( [gpu.js](https://github.com/gpujs/gpu.js) ), he would like to read pixels from a fbo with multiple render target, ideally with one call.
I searched the spec and made some experiments. It seems `readpixels` cannot read data compeletely from a MRT FBO. Tested on Chrome 58 Win10 with [this sample](https

[2017-06-09 19:39] kenrussell commented on #154
Take a look at the ES 3.0 spec at https://www.khronos.org/registry/OpenGL/specs/es/3.0/es_spec_3.0.pdf , in particular the definition of the calls of BindFramebuffer, ReadBuffer and ReadPixels.

It's possible to read back COLOR_ATTACHMENTi from a bound framebuffer object by calling ReadBuffer with that attachment.

The attachments have to be read back one at a time.

[2017-06-10 02:05] shrekshao commented on #154
Thanks Ken, neat and clear!

[2017-06-10 02:07] #154 closed, assigned to nobody

[2017-06-16 01:57] shrekshao opened #156 "Split readpixels to a separate sample"

[2017-06-29 02:20] #156 closed, assigned to nobody

[2017-07-17 02:19] itsyom opened #158 "draw image space example"
In the draw image space example
in fragment shader:
color = texture(diffuse, vec2(gl_FragCoord.x,1.0 - gl_FragCoord.y) / u_imageSize);
shoule replace 1.0 by u_imageSize.y.
Am I right?

[2017-07-17 05:13] shrekshao commented on #158
Yeah I think you are correct. Would you mind opening a pull request for this? I'd be happy to merge it in

[2017-07-17 05:19] shrekshao commented on #158
NVM, I've fixed this issue. Thank you!

[2017-07-18 04:33] #158 closed, assigned to nobody

[2017-07-18 04:33] #152 closed, assigned to nobody

[2017-07-18 06:52] itsyom commented on #158
Thank you!

[2020-01-09 20:39] AaronWatters opened #162 "instanceRotations is not used..."
I think you mean to use`instanceRotations` here in place of `instanceOffsets`.

https://github.com/WebGLSamples/WebGL2Samples/blob/master/samples/transform_feedback_instanced.html#L233

[2020-01-09 20:58] shrekshao commented on #162
Thanks for pointing this out. Yes I think this is a typo.

[2020-01-09 21:11] shrekshao commented on #162
Fixed in #163

[2020-01-09 21:11] #162 closed, assigned to nobody

[2020-04-14 00:09] DanielMazurkiewicz opened #164 "Transform feedback without rendering sample request"
Hi!
Would be nice to have some super simple example of transform feedback with vertex shader like this:
[code]

 My (finally) working example:

[code]

[2022-06-06 18:37] Thaddeus555555555 opened #166 "Samples"
https://github.com/WebGLSamples/WebGL2Samples/blob/7aef7dd1ef2615e657e0110df10a0fd6270cd50e/samples/sampler_object.html#L166

[2022-06-06 19:22] #166 closed, assigned to nobody

[2022-11-25 11:38] syby119 opened #167 "query_occlusion sample return zero passed samples"